<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Tracker</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Price Tracker</h1>

    {% if price_data %}
    {% for product, suppliers in price_data.items() %}
    <h2>{{ product|capitalize }}</h2>
    <table>
        <thead>
            <tr>
                <th>Supplier</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier, price in suppliers.items() %}
            <tr>
                <td>{{ supplier|capitalize }}</td>
                <td>{{ price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    {% else %}
    <p>No prices tracked yet.</p>
    {% endif %}

    <div class="button-container">
        <a href="{{ url_for('add_price') }}" class="button">Add New Price</a>
    </div>
</body>
</html>